*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  width: 100%;
  min-height: 100vh;
}
.App{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: black;
}
.App>h1{
  color: red;
  padding-top: 25px;
  text-shadow: 4px -3px 5px rgba(168, 224, 12, 0.6);
}